<h1>Editar Transportadora</h1>

<div>
  <% if @carrier.errors.any? %>
    <ul>
    <% @carrier.errors.full_messages.each do |mensagem| %>
      <li> <%= mensagem %>. </li>
    <% end %>
    </ul>
  <% end %>
</div>

<%= render 'form' %>